.left-form-container h2{
    color: var(--black);
    font-size: var(--text-h2);
    margin-bottom: 20px;
}
.left-form-container{
    width: 100%;
}
.left-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
}   



.submit{
    padding: 10px;
    width: 80%;
    border-radius: 12px;
    border: none;
    background-color: var(--color-primary);
    font-size: var(--text-body-lg);
    color: var(--color-text);
    transition: all .25s ease;
}
.submit:hover{
    background-color: var(--color-primary-hover);
    transform: translateY(-5px);
}
.submit:active{
    background-color: var(--color-primary-hover);
    transform: scale(0.98);
}
.span-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.span-link{
    position: relative;
}
.span-underline{
    position: absolute;
    background: rgb(9, 41, 128);
    height: 1px;
    width: 0%;
    transition: all .25s ease;
}
.left-link{
    width: 100%;
    color: rgb(0, 68, 255);
    
}
.left-link:hover{
    color: rgb(9, 41, 128);
}
.left-link:hover + .span-underline{
    width: 100%;
    
}
.left-input-container{
    width: 80%;
    position: relative;
}
.left-input-container span{
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-text-muted);
    transition: all .25s ease-in;
    pointer-events: none;
}

@media (max-width: 821px){
    
    .left-input-container{
        width: 80%;
        position: relative;
    }
    
    
}
@media (min-width: 821px) and (max-width: 860px) {
    .span-container{
        flex-direction: column;
    }
}
@media (max-width: 300px) {
    .span-container{
        flex-direction: column;
    }
}