.container{
  background-color: #fff;
  width: 80vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 450px){
    .container{
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }
}
@media ((min-width: 451px) and (max-width: 1050px)){
    .container{
      width: 90vw;
    }
}
